/* -- Mobile first styling */

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Cabin', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../images/novilance-background-2.jpg');
  background-position: center;
  background-size: auto 100%;
}

.app-main {
  color: whitesmoke;
  padding: 0.75em;
  min-height: 100vh;
}

.header-title {
  font-size: 2.25em;
  font-weight: 800;
}

header {
  text-align: center;
  padding: 10px 20px;
}

header h2 {
  font-size: 3.5em;
  font-weight: 300;
  letter-spacing: 1px;
}

.content-container {
  margin: 15vh 0 0 0;
  padding: 0.5em;
  text-align: center;
}

.banner {
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 1px;
}

#breakline {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  margin: 1em 25% 1em 25%;
}

.tagline-container {
  padding-bottom: 0.75em;
}

.tagline {
  /* font-family: 'Cabin Condensed', sans-serif; */
  font-size: 0.95em;
}

.form-interior-container {
  padding: 4px 0;
}

.email-input {
  width: 100%;
  padding: 5px 5px;
  font-size: 0.9em;
}

.input-message {
  color: #6C7A89;
  font-size: 0.9em;
}

.error-message {
  color: #D24D57;
  font-size: 0.9em;
}

#loading-icon {
  margin-right: 5px;
}

.submit-btn {
  margin-top: 5px;
  border: 1px solid whitesmoke;
  background: none;
  color: whitesmoke;
  width: 100%;
  padding: 10px 3px;
  font-size: 1.0em;
}

.instructions {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 0.9em;
}

/* -- Responsive Breakpoints -- */
@media only screen and (min-device-width : 768px) {
  * {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../images/novilance-background-2.jpg');
    background-size: cover;
  }

  .app-main {
    color: whitesmoke;
  }

  header {
    text-align: right;
    padding: 10px 20px;
  }

  header h2 {
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .content-container {
    margin: 20vh 20% 5vh 20%;
    text-align: center;
    border: 2px solid red;
  }

  .banner {
    font-size: 5em;
    font-weight: 100;
    letter-spacing: 1px;
  }

  #breakline {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    margin: 1em 25% 1em 25%;
  }
}

@media only screen and (min-device-width : 1224px) {
  * {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../images/novilance-background-2.jpg');
    background-size: cover;
  }

  .app-main {
    color: whitesmoke;
  }

  header {
    text-align: right;
    padding: 10px 20px;
  }

  header h2 {
    font-size: 3.5em;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .content-container {
    margin: 20vh 20% 5vh 20%;
    text-align: center;
    border: 2px solid red;
  }

  .banner {
    font-size: 5em;
    font-weight: 100;
    letter-spacing: 1px;
  }

  #breakline {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    margin: 1em 25% 1em 25%;
  }
}
